# Arquivos de objeto e binários
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out

# Pastas de build
build/
cmake-build-debug/
cmake-build-release/

# Arquivos e Pastas do Sistema/IDE
.idea/
*.swp
*~
.DS_Store

# Logs e arquivos temporários
*.log
*.tmp
*.temp

/ITP Projeto 3ª Unidade.txt
